---
http_interactions:
- request:
    method: post
    uri: https://api.memegen.link/images/custom
    body:
      encoding: UTF-8
      string: '{"template_id":"buzz","text":["me","looking into camera"],"extension":"png","layout":"default","background":"https://tschaefer.org/me.jpg"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.memegen.link/images/custom/me/looking_into_camera.png?background=https://tschaefer.org/me.jpg"}'
  recorded_at: Thu, 24 Aug 2023 11:47:37 GMT
recorded_with: VCR 6.2.0
