---
http_interactions:
- request:
    method: post
    uri: https://api.memegen.link/images
    body:
      encoding: UTF-8
      string: '{"template_id":"buzz","text":["I can haz","potatoe"],"extension":"png","layout":"default"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.memegen.link/images/buzz/i_can_haz/potatoe.png"}'
  recorded_at: Wed, 06 Sep 2023 07:58:18 GMT
recorded_with: VCR 6.2.0
