---
http_interactions:
- request:
    method: post
    uri: https://api.memegen.link/images/automatic
    body:
      encoding: UTF-8
      string: '{"text":["memes, memes everywhere"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.memegen.link/images/buzz/memes/memes_everywhere.webp","generator":"Pattern","confidence":0.52}'
  recorded_at: Thu, 24 Aug 2023 11:37:52 GMT
recorded_with: VCR 6.2.0
